#body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  background-color: #17153b;
  margin:0px;
  padding: 0px;
}

header{
  background-color: #17153b;
  
}
i{
  padding: 20px;
  text-decoration: none;
  color: #C8ACD6;
}
nav{
  background-color:#433d8b ;
  color:#ffff;
  padding: 20px;
}
.descripcion{
  margin-top:0px;
  background-color:#6f6a9f;
}
p{
  color:#000000;
  padding:15px;
  border-radius: 10px;
}
li{
  list-style: none;
}
.habilidades h1{
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding: 5px;
  margin:30px;
  color:#ffff;
}
.habilidades ul li{
  margin:5px;
  margin-bottom: 15px;
  border: 2px solid #ffff;
  color:#ffff;
  padding: 10px;
}

.experiencia h1{
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding:15px;
  margin:10px;
  color:#ffff;
}
.experiencia{
  background-color: #433d8b;
  padding:10px;
}
.experiencia ul li{
  color:#ffff;
  padding:10px;
  margin:10px;
}

.proyectos h1{
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding:15px;
  margin:20px;
  color:#ffff;
}

.proyectos ul li{
  color:#ffff;
  padding:10px;
  margin:10px;
  border: 2px solid #ffff;
}
.formulario{
  margin:40px;
  background-color: #897394;
  border-radius: 10px;
}
.formulario label{
  padding: 10px;
}
footer{
  background-color: #6f6a9f;
  color:#ffff;
  font-size: 10px;
  margin:0px;
  padding: 0px;
}